<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>-->
<head>
    <meta charset="UTF-8">
    <title>user_add</title>
    <link rel="stylesheet" href="./vendor/simple-line-icons/css/simple-line-icons.css" th:href="@{/dist/vendor/simple-line-icons/css/simple-line-icons.css}">
    <link rel="stylesheet" href="./vendor/font-awesome/css/fontawesome-all.min.css" th:href="@{/dist/vendor/font-awesome/css/fontawesome-all.min.css}">
    <link rel="stylesheet" href="./css/styles.css" th:href="@{/dist/css/styles.css}">
</head>
<body>
<div class="page-wrapper">

    <div th:replace="commons/bar::header"></div>

    <div class="main-container">

        <div th:replace="commons/bar::sidebar"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-light">
                                Basic Forms                             </div>

                            <form method="post" th:action="@{/user_add}">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="normal-input" class="form-control-label">Id</label>
                                                <input id="normal-input" class="form-control" value="Input value" name="id" />
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="normal-input" class="form-control-label">名字</label>
                                                <input id="normal-input" class="form-control" value="Input value" name="username" >
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="normal-input" class="form-control-label">密码</label>
                                                <input id="normal-input" class="form-control" value="Input value" name="password" >
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="normal-input" class="form-control-label">电话</label>
                                                <input id="normal-input" class="form-control" value="Input value" name="phone" >
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="normal-input" class="form-control-label">邮箱</label>
                                                <input id="normal-input" class="form-control" value="Input value" name="email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="single-select">角色</label>
                                                <select id="single-select" class="form-control" name="role" >
                                                    <option>admin</option>
                                                    <option>user</option>

                                                </select>
                                            </div>





                                    </div>
                                    <button class="btn btn-primary" type="submit">add</button>
                                    <a class="btn btn-success"  onclick="window.history.go(-1)">back</a>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>




            </div>


        </div>

        <script th:src="@{/dist/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/dist/vendor/popper.js/popper.min.js}"></script>
        <script th:src="@{/dist/vendor/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/dist/vendor/chart.js/chart.min.js}"></script>
        <script th:src="@{/dist/js/carbon.js}"></script>
        <script th:src="@{/dist/js/demo.js}"></script>

</body>
</html>
