<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="dist/vendor/simple-line-icons/css/simple-line-icons.css" th:href="@{/dist/vendor/simple-line-icons/css/simple-line-icons.css}">
    <link rel="stylesheet" href="dist/vendor/font-awesome/css/fontawesome-all.min.css" th:href="@{/dist/vendor/font-awesome/css/fontawesome-all.min.css}">
    <link rel="stylesheet" href="dist/css/styles.css" th:href="@{/dist/css/styles.css}">
</head>

<div class="page-wrapper">
    <div th:replace="commons/bar::header"></div>
    <div class="main-container">
        <div th:replace="commons/bar::admin_sidebar"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-light">
                            <div class="row">
                                <div class="col-md-8">
                                    用户管理
                                    <a th:href="@{to_user_add}"  > <button type="button" class="btn btn-outline-primary" >Add</button></a>
                                </div>
                                <div class="col-md-4">
                                 <!--   <form >
                                          <div class="input-group">

                                              <input type="text" id="input-group-2" name="dept_name" class="form-control" placeholder="Search by deptName">
                                              <span class="input-group-btn">
                                                  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>Search</button>
                                              </span>

                                          </div>
                                    </form>-->
                                </div>
                            </div>


                        </div>



                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <!--<th>Id</th>-->
                                        <th>用户名</th>
                                        <th>密码</th>
                                        <th>邮箱</th>
                                        <th>电话</th>
                                        <th>角色</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user:${users}">
                                       <!-- <td th:text="${user.id}"></td>-->
                                        <td th:text="${user.username}"></td>
                                        <td class="text-nowrap" th:text="${user.password}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.phone}"></td>
                                        <td th:text="${user.role}"></td>

                                        <td>
                                            <a class="btn btn-sm btn-primary" th:href="@{/user/}+${user.id}">编辑</a>
                                            <button th:attr="del_uri=@{/user/}+${user.id}" class="btn btn-sm btn-danger deleteBtn">删除</button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="deleteUserForm"  method="post">
                    <input type="hidden" name="_method" value="delete"/>
                </form>
            </div>








        </div>










    </div>


</div>





<script th:src="@{/dist/vendor/jquery/jquery.min.js}"></script>

<script th:src="@{/dist/vendor/popper.js/popper.min.js}"></script>
<script th:src="@{/dist/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/dist/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/dist/js/carbon.js}"></script>
<script th:src="@{/dist/js/demo.js}"></script>
<script>
$(".deleteBtn").click(function(){
//删除当前员工的
$("#deleteUserForm").attr("action",$(this).attr("del_uri")).submit();
return false;
});
</script>
</body>
</html>